@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?bipuv8');
  src:  url('../fonts/icomoon.eot?bipuv8#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?bipuv8') format('truetype'),
    url('../fonts/icomoon.woff?bipuv8') format('woff'),
    url('../fonts/icomoon.svg?bipuv8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change ../fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plusDashed:before {
  content: "\e97a";
}
.icon-addcardsucc:before {
  content: "\e900";
}
.icon-amplification:before {
  content: "\e901";
}
.icon-bangdingshouji:before {
  content: "\e902";
}
.icon-bendiantuijian:before {
  content: "\e903";
}
.icon-but-processing:before {
  content: "\e904";
}
.icon-buzou1 .path1:before {
  content: "\e905";
  color: rgb(242, 191, 30);
}
.icon-buzou1 .path2:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(247, 205, 102);
}
.icon-buzou2 .path1:before {
  content: "\e907";
  color: rgb(26, 26, 26);
}
.icon-buzou2 .path2:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(216, 216, 216);
}
.icon-certification:before {
  content: "\e909";
}
.icon-cha:before {
  content: "\e90a";
}
.icon-chacha:before {
  content: "\e90b";
}
.icon-check:before {
  content: "\e90c";
}
.icon-cooka:before {
  content: "\e90d";
}
.icon-dangkouzhinan:before {
  content: "\e90e";
}
.icon-daohangxianghou:before {
  content: "\e90f";
}
.icon-date:before {
  content: "\e910";
}
.icon-dianhua:before {
  content: "\e911";
}
.icon-dianpu:before {
  content: "\e912";
}
.icon-dibiao:before {
  content: "\e913";
}
.icon-dingdan:before {
  content: "\e914";
}
.icon-disable_radio:before {
  content: "\e915";
}
.icon-dizhi:before {
  content: "\e916";
}
.icon-done:before {
  content: "\e917";
}
.icon-fanye:before {
  content: "\e918";
}
.icon-fanyedown:before {
  content: "\e919";
}
.icon-fanyeup:before {
  content: "\e91a";
}
.icon-fenxiang:before {
  content: "\e91b";
}
.icon-gengduo:before {
  content: "\e91c";
}
.icon-gonggao:before {
  content: "\e91d";
}
.icon-gougou:before {
  content: "\e91e";
}
.icon-gouwuche:before {
  content: "\e91f";
}
.icon-guanzhudianjia:before {
  content: "\e920";
}
.icon-huanyipi:before {
  content: "\e921";
}
.icon-iconfont-tupianku:before {
  content: "\e922";
}
.icon-iconfont-xiangji:before {
  content: "\e923";
}
.icon-jiahao:before {
  content: "\e924";
}
.icon-jiantoud:before {
  content: "\e925";
}
.icon-kuaijiezhifu:before {
  content: "\e926";
}
.icon-kuaijiezhifudingdan:before {
  content: "\e927";
}
.icon-lajitong:before {
  content: "\e928";
}
.icon-liebiao:before {
  content: "\e929";
}
.icon-liulan:before {
  content: "\e92a";
}
.icon-logo:before {
  content: "\e92b";
}
.icon-maishouzhinan:before {
  content: "\e92c";
}
.icon-mima:before {
  content: "\e92d";
}
.icon-mima1 .path1:before {
  content: "\e92e";
  color: rgb(188, 188, 188);
}
.icon-mima1 .path2:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(188, 188, 188);
}
.icon-mima1 .path3:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-mima1 .path4:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-mima2 .path1:before {
  content: "\e932";
  color: rgb(85, 175, 255);
}
.icon-mima2 .path2:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(85, 175, 255);
}
.icon-mima2 .path3:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-more:before {
  content: "\e935";
}
.icon-moren:before {
  content: "\e936";
}
.icon-moren_radio:before {
  content: "\e937";
}
.icon-morenxuanze:before {
  content: "\e938";
}
.icon-navhou:before {
  content: "\e939";
}
.icon-navqian:before {
  content: "\e93a";
}
.icon-no-bangding:before {
  content: "\e93b";
}
.icon-pingpumoshi:before {
  content: "\e93c";
}
.icon-renzheng:before {
  content: "\e93d";
}
.icon-rexiaopaihang:before {
  content: "\e93e";
}
.icon-rili:before {
  content: "\e93f";
}
.icon-sanchu:before {
  content: "\e940";
}
.icon-shanchu:before {
  content: "\e941";
}
.icon-shangshen:before {
  content: "\e942";
}
.icon-shibai:before {
  content: "\e943";
}
.icon-shibai2:before {
  content: "\e944";
}
.icon-shimingyanzheng:before {
  content: "\e945";
}
.icon-shoucang:before {
  content: "\e946";
}
.icon-shouji:before {
  content: "\e947";
}
.icon-shouji1 .path1:before {
  content: "\e948";
  color: rgb(188, 188, 188);
}
.icon-shouji1 .path2:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(188, 188, 188);
}
.icon-shouji1 .path3:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-shouji1 .path4:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-shouji2 .path1:before {
  content: "\e94c";
  color: rgb(85, 175, 255);
}
.icon-shouji2 .path2:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(85, 175, 255);
}
.icon-shouji2 .path3:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-shubiaoyiru:before {
  content: "\e94f";
}
.icon-sousuo:before {
  content: "\e950";
}
.icon-strenzheng:before {
  content: "\e951";
}
.icon-success:before {
  content: "\e952";
}
.icon-tishi:before {
  content: "\e953";
}
.icon-tongzhi:before {
  content: "\e954";
}
.icon-total:before {
  content: "\e955";
}
.icon-wancheng:before {
  content: "\e956";
}
.icon-weixinzhifu:before {
  content: "\e957";
}
.icon-weixuan:before {
  content: "\e958";
}
.icon-wenhao:before {
  content: "\e959";
}
.icon-wodedingdan:before {
  content: "\e95a";
}
.icon-wodeshangping:before {
  content: "\e95b";
}
.icon-wodezizhanghu:before {
  content: "\e95c";
}
.icon-xiajiang:before {
  content: "\e95d";
}
.icon-xialaxuanze:before {
  content: "\e95e";
}
.icon-xianghou:before {
  content: "\e95f";
}
.icon-xiangqian:before {
  content: "\e960";
}
.icon-xianjingquan:before {
  content: "\e961";
}
.icon-xiaoxi:before {
  content: "\e962";
}
.icon-xuanze:before {
  content: "\e963";
}
.icon-xuanzezhifu:before {
  content: "\e964";
}
.icon-xuanzhong .path1:before {
  content: "\e965";
  color: rgb(242, 191, 28);
}
.icon-xuanzhong .path2:before {
  content: "\e966";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-yinghangka:before {
  content: "\e967";
}
.icon-youhuiquan:before {
  content: "\e968";
}
.icon-youxiang1 .path1:before {
  content: "\e969";
  color: rgb(188, 188, 188);
}
.icon-youxiang1 .path2:before {
  content: "\e96a";
  margin-left: -1em;
  color: rgb(188, 188, 188);
}
.icon-youxiang1 .path3:before {
  content: "\e96b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-youxiang1 .path4:before {
  content: "\e96c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-youxiang2 .path1:before {
  content: "\e96d";
  color: rgb(85, 175, 255);
}
.icon-youxiang2 .path2:before {
  content: "\e96e";
  margin-left: -1em;
  color: rgb(85, 175, 255);
}
.icon-youxiang2 .path3:before {
  content: "\e96f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-yuezhifu:before {
  content: "\e970";
}
.icon-zhanghao:before {
  content: "\e971";
}
.icon-zhankai:before {
  content: "\e972";
}
.icon-zhiding:before {
  content: "\e973";
}
.icon-zhifu:before {
  content: "\e974";
}
.icon-zhifuchenggong:before {
  content: "\e975";
}
.icon-zhifufangshi:before {
  content: "\e976";
}
.icon-zhifumima:before {
  content: "\e977";
}
.icon-zhifumima_guan:before {
  content: "\e978";
}
.icon-zizhanghu:before {
  content: "\e979";
}

