body{
  .em{
    display: inline-block;
    width: 1em;
  }
  .em_5{
    display: inline-block;
    width: .5em;
  }
  font-family: "Microsoft Yahei";
  background: #f7f7f7;
}
@import "./public.less";
.buyer-colle {
  .em{
    display:inline-block;
    width:1em;
  }
  .em_5{
    display:inline-block;
    width:.5em;
  }
  ul, ol, li, p,  h1, h2, h3,h4,  h5, h6, dl, dt, dd, input {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  a {
    color: #665c59;
    text-decoration: none;
    cursor: pointer;
  }
  
  &-null{
    text-align: center;
    height:368px;
    >div:first-child{
      margin-top:250px;
    }
    >div:last-child{
      a{
        color:#40aeeb;
      }
    }
  }



  background: #fff;
  padding:20px;
  &-location{
    padding-bottom: 10px;
    border-bottom: 1px solid #fcc505;
  }

  &-menu{
    margin-top: 20px;
    ul{
      overflow: hidden;
      background:#f5f5f5;
      padding-left: 10px;
      li{
        float: left;
        padding:10px 20px;
        border-right: 1px solid #fff;
        cursor:pointer;
      }
      .active{
        color:#fcc505;
      }
    }
  }

  &-caozuo{
    margin-top:25px;
    padding-left:15px;
    overflow:hidden;
    height:25px;
    >p{
      float:left;
      span{
        color:#ff4810;
      }
    }
    >a:nth-child(2){
      float:left;
      margin-left: 15px;
      color:#ff4810;
    }
    .caozuo-box{
      float:right;
      overflow:hidden;
      >div{
        float:left;
        input{
          margin-right: 10px;
        }
        label{
          margin-right:20px;
        }
        span{
          margin-right:10px;
        }
        >a{
          margin-right:20px;
        }
      }
      >a{
        float:right;
        color:#11a6ea;
      }
      
    }
  }
  &-list{
    margin-top:20px;
    overflow:hidden;
    .list-detail{
      float:left;
      width:25%;
      padding:0 10px;
      margin-top:20px;
      overflow:hidden;
      &-img{
        position: relative;
        border:2px solid #ddd;
        img{
          width:202px;
          height: 200px;
        }
        b{
          position:absolute;
          top:-1px;
          right:-1px;
          font-size:48px;
        }
        .icon-shubiaoyiru{
          color:#ddd;
        }
        .icon-xuanzhong{
          span:first-child{
            margin-right: -24px;
          }
        }
      }
      .active{
        border: 2px solid #fcc505;
      }
      >a{
        display:block;
        margin:10px 0;
        .ellipsis();
      }
      &-oth{
        overflow:hidden;
        font-size: 18px; 
        p{
          float:left;
        }
        a{
          float:right;
        }
      }
    }
  }
}