body{
  .em{
    display: inline-block;
    width: 1em;
  }
  .em_5{
    display: inline-block;
    width: .5em;
  }
  font-family: "Microsoft Yahei";
  background: #f7f7f7;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: all 0.3s linear;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 400px;
  margin: 0px auto;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all 0.3s linear;
}

.modal-header {
  padding: 10px;
  font-size: 18px;
  color: #fcc505;
  position: relative;
  span{
    float: right;
    border-radius: 50%;
    font-size: 30px;
    color: #989898;
    cursor: pointer;
    &:hover{
      color: #1a1a1a;
    }
  }
}

.modal-body {
  margin: 10px 0;
  text-align: center;
  button{
    width: 150px;
    height: 50px;
    border: 1px solid #ececec;
    border-radius: 3px;
    background: #fcc505;
    margin: 20px;
    &:focus{
      outline: none;
    }
    span{
      font-size: 18px;
      margin-right: 5px;
      margin-bottom: 3px;
    }
  }
}

.modal-default-button {
  float: right;
}

.buyer-account {
  ul, ol, li, p,  h1, h2, h3,h4,  h5, h6, dl, dt, dd, input {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  a {
    color: #665c59;
    text-decoration: none;
    cursor: pointer;
  }
  background: #fff;
  padding-bottom:40px;
  min-height: 690px;
  &-location{
    padding: 20px 0;
    margin-left: 20px;
    border-bottom: 1px solid #fcc505;
  }
  &-info{
    margin-top: 20px;
    text-align: center;
    a{
      display: inline-block;
      width:80px;
      padding-bottom: 5px;
      border-bottom:2px solid #ddd;
    }
    a.active{
      color:#fcc505;
      border-bottom:2px solid #fcc505;
    }
  }
  &-basic{
    width:90%;
    margin-left: 5%;
    margin-top:30px;
    border:1px solid #ddd;
    overflow: hidden;
    padding:50px 210px;
    padding-right: 0;
    >div{
      float: left;
    }
    .basic-l{
      text-align:center;
      img{
        width:120px;
        height:120px;
      }
      .buyer-account-imageup>div{
        border-radius:50%;
        overflow:hidden;
      }
      button{
        display:block;
        margin-top:10px;
        padding:3px 6px;
        border:none;
        background:#fff;
        margin-left:25px;
        &:hover{
          background:#e4e4e4;
        }
        &:focus{
          outline:none;
        }
      }
    }
    .basic-r{
      margin-left:70px;
      >div:nth-child(2){
        margin:30px 0;
        .nicheng{
          margin-left:5px;
        }
        input{
          margin-left:5px;
          padding:3px 5px;
          width:100px;
          outline:none;
        }
        button{
          margin-left:10px;
          background:#fff;
          border:1px solid #fcc505;
          color:#fcc505;
          &:focus{
            outline: none;
          }
        }
      }
    }
  }
  &-submit{
    text-align:center;
    margin-top:50px;
    >button{
      padding:10px 30px;
      background:#fcc505;
      border:none;
      border-radius: 5px;
      &:focus{
        outline:none;
      }
    }
  }
  &-selfInfo{
    margin-top:30px;
    padding:35px 0 30px 250px;
    border:1px solid #ddd;
    width:90%;
    margin-left:5%;
    p{
      b{
        color:#f33;
      }
    }
    form{
      >div{
        margin-top:20px;
        >b{
          color:#f33;
        }
        .text{
          margin-left:10px;

        }
        .check{
          margin-left:10px;
        }
        .bianji{
          margin-right: 5px;
          margin-left:10px;
          outline:none;
          padding:3px 5px;
          width:80px;
          border:1px solid #ddd;
          border-radius:3px;
        }
        .react-datepicker__input-container{
          margin-left:10px;
        }
        select{
          margin-left:10px;
        }
        textarea{
          margin-left:10px;
          vertical-align: top;
          width:350px;
          height:50px;
        }
        >button{
          margin-top:20px;
          margin-left:100px;
          padding:10px 30px;
          background:#fcc505;
          border:none;
          border-radius: 5px;
          &:focus{
            outline:none;
          }
        }
      }
    }
  }
}

