@import "./C.less";

.buyFootprint{
	ul,li,p{
		padding: 0;
		margin: 0;
	}
	ul,li{list-style: none;}
	.em{
		display: inline-block;
		width: 1em;
	}
	&-right{
		.row{
			background: #fff;
		}
		&-title{
			margin-left: 20px;
			padding: 15px 0;
			border-bottom: 1px solid #fcc505;
			span{
				color: #a89d99;
			}
		}
		&-container{
			padding: 0 35px;
			&-nav{
				>ul{
					.clearfix();
					margin: 15px 0;
					background: #f5f5f5;
					>li{
						float: left;
						width: 100px;
						height: 40px;
						line-height: 40px;
						border-right: 1px solid #fff;
						text-align: center;
						cursor: pointer;
						&.active{
							width: 130px;
							color: #fcc505;
						}
						&:hover{
							background: #ebebeb;
						}
					}
				}
			}
			&-list{
				>ul{
					.clearfix();
					margin: 15px 0;
					>li{
						float: right;
						&:last-child{
							margin-right: 250px;
							span{
								color: red;
								margin-left: 15px;
								&:first-child{
									margin: 0 5px;
								}
							}
						}
						&:first-child{
							label,a{
								display: inline-block;
								position: relative;
								top: -2px;
								font-weight: normal;
							}
							label{
								margin-left: 3px;
							}
							>a link{
								margin-right: 10px;
								margin-left: 20px;
							}
						}
					}
				}
				&-main{
					>ul{
						>li{
							padding-top: 15px;
							>span{
								margin-right: 20px;
								color: #989898;
							}
							>b{
								margin: 0 5px;
								font-weight: normal;
								color: red;
							}
							>ul{
								.clearfix();
								>li{
									float: left;
									width: 23.3442%;
									margin-right: 20px;
									margin-bottom: 20px;
									&:nth-child(4){
										margin: 0;
									}
									a{
										display: block;
										&:nth-child(2){
											margin: 10px 0;
										}
										img{
											width: 100%;
											border: 1px solid #ccc;
										}
									}
									b{
										font-weight: normal;
										font-size: 18px;
									}
								}
							}
							&:last-child{
								border-bottom: 1px solid #ccc;
							}
						}
						&:last-child >li:last-child{
							border: none;
						}
						&:first-child >li:first-child{
							border-top: 1px solid #ccc;
						}
					}
				}
			}
		}
	}
}
