
.header{
  text-align:center;
}
.bg-t{
  background:#fff;
}
.detail{
  .em{
    display:inline-block;
    width:1em;
  }
  .em_5{
    display:inline-block;
    width:.5em;
  }
  .ellipsis() {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  ul, ol, li, p, h1, h2, h3,h4, h5, h6, dl, dt, dd, input {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  a {
    color: #665c59;
    text-decoration: none;
    cursor: pointer;
  }
  .detail-shopping-box{
    margin-top: 25px;
    overflow: hidden;
    .detail-shopping{
      .shop-tit{
        overflow:hidden;
        padding-bottom: 5px;
        border-bottom: 1px solid #372f2c;
        >div{
          float: left;
        }
        .shop-logo{
          div{
            width:70px;
            height:22px;
            background: #372f2c;
            color: #fff;
            text-align: center;
            font-size: 18px;
          }
        }
        .shop-name{
          text-align: center;
          padding:0 30px 0 5px;
          border-right: 1px solid #ddd;
          p{
            color:#999;
          }
        }
        .shop-conn{
          color:#999;
          margin-left: 20px;
          p{
            span:first-child{
              color: #fcc505;
            }
          }
        }
      }
      .shopping-detail{
        margin-top:40px;
        overflow:hidden;
        .img-box{
          float:left;
          .img-show{
            img{
              width:480px;
              height: 480px;
            }
          }
          .img-list{
            padding:20px 35px;
            text-align: center;
            img{
              width:70px;
              height:70px;
              display:inline-block;
              margin-right:10px;
              border:2px solid transparent;
            }
            .active{
              border:2px solid #ddd;
            }
            img:last-child{
              margin-right:0;
            }
          }
        }
        .shopping-desc{
          float:right;
          width:400px;
          .desc-pri{
            margin-top:20px;
            padding:20px 0;
            border-top: 1px dotted #ccc;
            overflow:hidden;
            .price-tidu{
              float:left;
              margin-right:30px;
              h4{
                color:#ff4b12;
              }
              p{
                margin-left:10px;
                margin-top:5px;
                color:#999;
              }
            }
          }
          .desc-trans{
            padding-bottom: 20px;
            border-bottom:1px dotted #ccc;
            select{
              margin-left:10px;
              padding:3px 5px;
            }
          }
          .sku{
            border: 1px solid transparent;
          }
          .sku-active{
            border: 1px solid #fcc505;
            padding-left: 20px;
            padding-bottom: 20px;
          }
          .sku-alert{
            margin-top: 10px;
            text-align: right;
            color: #ff5c36;
            span{
              text-align: center;
              display: inline-block;
              margin-right: 5px;
              background: #ff5c36;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              color: #fff;
            }
          }
          .desc-color,.desc-size{
            overflow:hidden;
            margin-top:10px;
            >div{
              float:left;
            }
            >div:first-child{
              margin-top:10px;
              height:45px;
              line-height: 45px;
            }
            >div:last-child{
              width:300px;
              margin-left:10px;
              overflow:hidden;
              div{
                float:left;
                cursor: pointer;
                margin-top:10px;
                margin-right:10px;
                height: 40px;
                line-height:35px;
                padding: 0 5px;
                min-width: 45px;
                text-align:center;
                border:2px solid #ddd;
              }
              .active{
                border:2px solid #fcc505;
              }
            }
          }
          .desc-color{
            >div:last-child{
              .b-img{
                width: 40px;
              }
            }
          }
          .desc-size{
            >div:last-child{
              div{
               
              }
            }
          }
          .desc-num{
            margin-top:20px;
            overflow:hidden;
            p{
              float:left;
              margin-top:5px;
            }
            button{
              float:left;
              width:35px;
              height:35px;
              background:#fff;
              border:1px solid #cdcdcd;
              outline:none;
              &:hover{
                background:#d7d7d7;
              }
            }
            input{
              float:left;
              height:35px;
              width:70px;
              text-align:center;
              padding:0 5px;
              border:1px solid #cdcdcd;
              background:#f6f6f6;
              outline: none;
            }
            .num-del{
              margin-left:10px;
            }
            p:last-child{
              margin-left:20px;
            }
          }
          .desc-action{
            margin-top:20px;
            button{
              width:120px;
              height:40px;
              border:none;
              outline: none;
              border-radius: 5px;
            }
            button:first-child{
              margin-left:50px;
              background:#fcc505;
              &:hover{
                background:#f8d146;
              }
            }
            button:last-child{
              margin-left:40px;
              background:#370f2c;
              color:#fff;
              &:hover{
                background:#514745;
              }
            }
          }
          .desc-oth{
            margin-top:20px;
            overflow:hidden;
            div{
              float:left;
              margin-left:10px;
            }
            div:first-child{
              margin-left:50px;
            }
            .renqi{
              color: #b8b8b8;
            }
            div:last-child{
              margin-left:55px;
              span{
                margin-right:5px;
              }
              img{
                display:none;
                margin-left:10px;
              }
              &:hover{
                img{
                  display:inline-block;
                }
              }
            }
          }
          .desc-choosed{
            &:after{
              content: '';
              display: table;
              clear: both;
            }
            margin-top: 20px;
            padding: 0 65px;
            position: relative;
            .choosed-tishi{
              float: right;
              overflow: hidden;
              .yixuan{
                float: left;
                cursor: pointer;
                text-align: right;
                span{
                  color: #ff4b12;
                }
              }
              .sanjiao{
                float: left;
                margin-left: 5px;
                margin-top: 3px;
                width: 0;
                height: 0;
                border: 5px solid transparent;
                border-bottom: 5px solid #333;
              }
            }
            .choosed-list{
              position: absolute;
              background: #fff;
              bottom: 25px;
              left: 5px;
              padding:0 20px;
              border: 1px solid #e9e9e9;
              .list-self{
                overflow: hidden;
                padding: 20px 0;
                border-bottom: 1px solid #e9e9e9;
                .list-self-color{
                  float: left;
                  margin-top: 10px;
                }
                .list-self-oth{
                  float: left;
                  margin-left: 40px;
                  .oth-info{
                    overflow: hidden;
                    margin-top: 25px;
                    .info-size{
                      float: left;
                      margin-top: 10px;
                      width: 40px;
                    }
                    .info-num{
                      float: left;
                      margin-left: 40px;
                      overflow: hidden;
                      span,button,input{
                        float: left;
                      }
                      span{
                        margin-top: 10px;
                      }
                      button{
                        width:35px;
                        height:35px;
                        background:#fff;
                        border:1px solid #cdcdcd;
                        outline:none;
                        &:hover{
                          background:#d7d7d7;
                        }
                      }
                      input{
                        height:35px;
                        width:70px;
                        text-align:center;
                        padding:0 5px;
                        border:1px solid #cdcdcd;
                        background:#f6f6f6;
                        outline: none;
                      }
                    }
                  }
                  .oth-info:first-child{
                    margin-top: 0;
                  }
                }
              }
              .sub-total{
                padding: 10px;
                text-align: center;
                span{
                  color: #ff5c36;
                }
              }
              .weixuanze{
                width: 334px;
                text-align: center;
                padding: 20px;
              }
            }
          }
        }
      }
    }
    .detail-recommend{
      .recommend-tit{
        overflow:hidden;
        span{
          float:left;
          color:#fcc505;
          font-size:20px;
          margin-top: 4px;
          margin-right:5px;
        }
        p{
          float:left;
          font-size: 20px;         
        }
        margin-top:15px;
        padding-bottom:2px;
        border-bottom:1px solid #372f2c;        
      }
      .recommend-list{
        margin-top:20px;
        >div{
          position: relative;
          margin-bottom: 20px;
          border: 1px solid #ddd;
          &:hover{
            opacity: 0.8;
          }
          img{
            width:100%; 
            height: 163px;
          }
          .price{
            position: absolute;
            left: 0;
            bottom: 0;
            padding: 10px 15px;
            background: #fff;
            width: 100%;
            opacity: 0.7;
          }
        }
      }
      .recommend-page{
        margin-bottom: 0;
        border: none;
        text-align:center;
        span{
          display:inline-block;
          font-size:36px; 
          color:#d8d8d8;           
        }
        .active{
          cursor:pointer;
          &:hover{
            color:#b5b5b5;
          }
        }
        .icon-fanyeup{
          margin-right:10px;
        }
      }
    }
  }
}
.container-b-box{
  background:#f7f7f7;
  .bg-b{
    .em{
      display:inline-block;
      width:1em;
    }
    .em_5{
      display:inline-block;
      width:.5em;
    }
    ul, ol, li, p, h1, h2, h3,h4, h5, h6, dl, dt, dd, input {
      margin: 0px;
      padding: 0px;
      list-style: none;
    }
    a {
      color: #665c59;
      text-decoration: none;
      cursor: pointer;
    }
    .detail-news{
      .ellipsis() {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      margin-top:20px;
      .news-tit{
        overflow:hidden;
        >span:first-child{
          float: left;
          padding: 0 3px;
          background: #fe3c00;
          color: #fff;
          margin-top: 18px;
          margin-right: 10px;
        }
        p{
          float:left;
          margin-top:10px;
          font-size: 24px;
        }
        a{
          float:right;
          span{       
            font-size:44px;
            margin-top: 12px;
          }
        }
        padding-bottom:10px;
        border-bottom:1px solid #372f2c;
      }
      .news-list{
        margin-top:20px;
        overflow: hidden;
        .news-img{
          background: #fff;
          float:left;
          width:19.6%;
          overflow:hidden;
          margin-right:0.5%;
          padding-bottom: 20px;
          a{
            img{
              display: block;
              width: 100%;
              height: 223px;
            }
            div{
              padding: 0 10px;
              .ellipsis();
            }
          }
          
          >div{
            padding:0 10px;
            margin-top:5px;
          }
          .img-tit{
             display:block;
             .ellipsis();
          }
          .img-info{
            overflow:hidden;
            p:first-child{
              float:left;
            }
            p:last-child{
              float:right;
            }
          }
        }
        .news-img:last-child{
          margin:0;
        }
      }
    } 
    .oth{ 
      margin-top:20px;
      padding-bottom:100px;
      .detail-det{ 
      background:#fff;  
        .shopping-menu{
          background:#ececec;
          li{
            display:inline-block;
            padding:10px 20px;
            font-size: 18px;
          }
          .active{
            border-top:2px solid #fcc505;
            color:#fcc505;
            background:#fff;
            margin-top:-1px;
          }
        }
        .specif,.detail-desc{
          padding:0 20px;
          margin-top:20px;
          overflow:hidden;
          >div{
            float:left;
          }
          .sanjiao{
            width:0;
            height:0;
            border:6px solid transparent;
            border-left:10px solid #665d58;
            margin-top:7px;
          }
          .text{
            font-size: 18px;
          }
          .hr{
            width:90%;
            border-bottom:1px solid #dfdfdf;
            margin-top: 13px;
            margin-left:10px;
          }
        }
        .specif-tab{
          width:70%;
          padding:50px 0;
          margin-left:15%;
          table{
            border-collapse: collapse;
            width:100%;
            td{
              border:1px solid #ddd;
              padding:5px 20px;
            }
          }
        }
        .detail-desc-des{
          margin-top:50px;
          text-align:center;
        }
      }
    }
  }
}
