body{
  .test{
    position: relative; 
    b{
      position: absolute;
      display: block;
      background: url('../images/icons/mima.svg') no-repeat 5px center;
      width: 25px;
      height: 34px;
      border-right: 1px solid #ddd;
      left: 0;
      top: 0;
    }
  }
  input{
    height: 34px;
    padding-left: 25px;
  }
}