@import "public.less";
.index {
  &-top {
    background: #fff;
    .clearfix();
  }
  
  &-category {
    float: left;
    width: 20%;

    &-block {
      display: block;
      border-bottom: 1px solid @ck-main;
      padding-bottom: 10px;
      padding-left: 10px;
    }

    &-lv-1 {
      display: block;
      font-size: 16px;
      color: #333;
      padding: 5px 0;

      &:hover,
      &:focus{
        color: #d6c8c3;
      }
      &:active {
        color: #ffffff;
        text-decoration: none;
      }
    }

    &-lv-2 {
      display: inline-block;
      margin-right: 10px;
      color: #989898;
      &:hover{
        color: #fcc505;
        text-decoration: none;
      }
      // &:focus{
      //  color: #fcc505;
      //  text-decoration: none;
      // }
      // &:active {
      //  color: #989898;
      //  text-decoration: none;
      // }
    }
  }

  &-carousel {
    position: relative;
    min-height: 200px;
    overflow: hidden;
    float: left;
    width: 60%;
    &-item {
      > a {
        display: block;

        > img {
          width: 100%;
        }
      }
    }
  }

  &-note {
    float: left;
    width: 20%;
    padding: 0 10px;

    &-title {
      padding-bottom: 10px;
      border-bottom: 1px solid @ck-main;
      [class^="icon-"], [class*=" icon-"] {
        color: @ck-main;
        margin-right: 5px;
      }
    }

    &-more {

      [class^="icon-"], [class*=" icon-"] {
        color: #6b6b6b;
        margin-right: 0;
        &:hover,
        &:focus,
        &:active {
          color: #fcc505;
          text-decoration: none;
        }
      }
      color: #6b6b6b;
      float: right;

      &:hover,
      &:focus,
      &:active {
        color: #fcc505;
        text-decoration: none;
      }
    }

    &-item {
      display: block;
      color: #777;
      .ellipsis();

      & + & {
        margin-top: 5px;
      }

      &:hover,
      &:focus,
      &:active {
        color: #333;
        text-decoration: none;
      }
    }
  }

  &-go-to-top {
    font-size: 36px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 999;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;

    &:hover,
    &:focus,
    &:active {
      color: #fff;
      text-decoration: none;
      background-color: rgba(0, 0, 0, 0.8);
    }
  }

  &-product {
    background-color: #fff;
    border: 3px solid #fff;
    float: left;
    padding: 10px;

    &:hover {
      border-color: #ececec;
    }

    &-link {
      display: block;
      > img {
        width: 100%;
      }
    }

    &-price {
      font-size: 18px;
      padding: 5px;
    }

    &-fav {
      float: right;
      font-size: 20px;
      color: #aaa;

      .icon-shoucang {
        vertical-align: text-top;
      }

      &:hover,
      &:focus,
      &:active {
        color: #333;
      }
    }

    &-store {
      color: #aaa;
      &:hover,
      &:focus,
      &:active {
        color: #333;
      }
    }

    &-market {
      float: right;
      color: #a89d99;
    }
  }

  &-store {
    float: left;
    width: 20%;

    &-info {
      text-align: center;
    }
    
    &-name {
      font-size: 18px;
    }

    &-link {
      color: #fff;
      background-color: #333;
      padding: 6px 25px;
      display: inline-block;
      margin-top: 5px;
      margin-bottom: 20px;
      border-radius: 25px;
      box-shadow: 0 15px 10px -12px rgba(0,0,0,0.5);

      &:hover,
      &:focus,
      &:active {
        color: #fff;
        background-color: #555;
        text-decoration: none;
      }
    }

    &-product{
      img{
        width: 100%;
      }
    }

  }

  &-block {
    margin-bottom: 15px;

    &-title {
      position: relative;
      padding: 10px;
      border-bottom: 1px solid #333;
      &-label {
        padding: 3px;
        background-color: @ck-main;
        color: #fff;
        display: inline-block;
        margin-right: 5px;
        font-size: 18px;
      }

      &-aside {
        position: absolute;
        top: 5px;
        right: 0px;
        margin-top: 5px;
        float: right;
        font-size: 18px;
        color: #333;

        &:hover,
        &:focus,
        &:active {
          color: @ck-main;
          text-decoration: none;
        }

        [class^="icon-"], [class*=" icon-"] {
          font-size: 24px;
          margin-left: 5px;
          vertical-align: text-top;
        }

        // sub-class
        &-lg {
          [class^="icon-"], [class*=" icon-"] {
            font-size: 34px;
          }
        }
      }
    }

    &-body {
      .clearfix();

      background-color: #fff;
      .left{
        .clearfix();
        display: block;
        width: 80%;
        float: left;
        .index-product {
          width: 25%;
        }
      }
      .right{
        .clearfix();
        display: block;
        width: 20%;
        float: right;
        .carousel{
          margin: -5px 0;
          ul,li{
            list-style: none;
            margin: 0px;
            padding: 0px;
          }
          li{
            margin: 20px 0;
            a{
              color: #000;

              &:hover{
                text-decoration: underline;
              }
            }
          }
          &-list{
            &-items{
              .product{
                position: relative;
                .img{
                  width: 80px;
                  img{
                    width: 100%;
                  }
                }
                .store{
                  position: absolute;
                  top: 14px;
                  left: 100px;
                }
                .extra{
                  position: absolute;
                  top: 50px;
                  left: 100px;
                  color: #aaa;
                }
              }
            }
          }
        }
      }
    }

    // sub-class
    &-store {
      .index-block-title-label {
        background-color: #ff3c02;
      }
    }

    &-girl {
      .index-block-title-label {
        background-color: #ff66f2;
      }
      .left{
        .clearfix();
        display: block;
        width: 100%;
        float: left;
        .index-product {
          width: 25%;
        }
      }
    }

    &-boy {
      .index-block-title-label {
        background-color: #282c2d;
      }
      .left{
        .clearfix();
        display: block;
        width: 100%;
        float: left;
        .index-product {
          width: 25%;
        }
      }
    }

    &-maternit {
      .index-block-title-label {
        background-color: #fe8278;
      }
      .left{
        .clearfix();
        display: block;
        width: 100%;
        float: left;
        .index-product {
          width: 25%;
        }
      }
    }

    &-children {
      .index-block-title-label {
        background-color: #fbc503;
      }
      .left{
        .clearfix();
        display: block;
        width: 100%;
        float: left;
        .index-product {
          width: 25%;
        }
      }
    }
  }
}