@import "C.less";
@import "public.less";
.header {
  margin-bottom: 20px;
  &-top {
    background-color: #efedee;
    padding: 5px 0;

    &-link {
      color: #333;

      &:hover,
      &:focus,
      &:active {
        color: #333;
      }
    }

    &-sep {
      display: inline-block;
      margin: 0 10px;
    }
  }

  &-logo {
    text-align: center;
    padding: 30px 0;
  }

  &-qrcode {
    padding-top: 30px;
    text-align: center;
  }

  &-nav {
    background-color: @ck-sub;
    .clearfix();

    &-inner {
      width: 1170px;
      margin: 0 auto;
    }

    &-items {
      margin:0;
      padding: 0;
      float: left;
      margin-left: 50px;
    }

    &-item {
      list-style-type: none;
      display: block;
      float: left;
      position: relative;

      &.active {
        &:before {
          content: "";
          background-color: #fff;
          height: 5px;
          position: absolute;
          left: 30px;
          right: 30px;
          top: 0;
        }

        > a {
          color: #fff;
        }
      }

      > a {
        display: block;
        padding: 10px 30px;
        color: #87807d;
        font-size: large;

        &:hover,
        &:focus{
          color:#d6c8c3;
          text-decoration: none;
        }
        &:active {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }

  &-category {
    &-all {
      background-color: @ck-main;
      font-size: large;
      color: #333;
      display: block;
      float: left;
      padding: 20px 50px;
      margin-top: -10px;
      margin-bottom: -10px;
      position: relative;

      &:before {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px;
        border-top-color: transparent;
        border-right-color: transparent;
        border-left-color: #e0e0e0;
        border-bottom-color: #e0e0e0;
        position: absolute;
        top: 0;
        right: -10px;
      }

      &:after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px;
        border-bottom-color: transparent;
        border-right-color: transparent;
        border-left-color: #e0e0e0;
        border-top-color: #e0e0e0;
        position: absolute;
        bottom: 0;
        right: -10px;
      }

      > a {
        color: #333;
        &:hover,
        &:focus,
        &:active {
          color: #333;
        }
      }



      &:hover,
      &:focus {
        .header-category-lv-1 {
          display: block;
        }
      }
    }

    &-lv-1 {
      display: none;
      position: absolute;
      background-color: #F0F0F0;
      font-size: 14px;
      width: 100%;
      top: 100%;
      left: 0;
      z-index: 99;
      margin: 0;
      padding: 0;

      > li {
        list-style-type: none;
        display: block;

        > a {
          display: block;
          color: #333;
          padding: 10px;
          position: relative;

          &:hover,
          &:focus,
          &:active {
            color: @ck-main;
            background-color: #fff;
            text-decoration: none;

            [class^="icon-"], [class*=" icon-"] {
              display: none;
            }
          }

          [class^="icon-"], [class*=" icon-"] {
            float: right;
            margin-top: 3px;
          }
        }

        &:hover {
          .header-category-lv-2 {
            display: block;
          }
        }
      }
    }

    &-lv-2 {
      display: none;
      z-index: 99;
      margin: 0;
      padding: 0;
      position: absolute;
      left: 100%;
      top: 0;
      width: 936px;
      background-color: #fff;
      padding: 15px 30px;
      padding-bottom: 0;

      > li {
        list-style-type: none;
        display: block;
        padding-top: 10px;
        padding-bottom: 5px;
        border-bottom: 1px dashed #ddd;
        position: relative;
        .clearfix();

        &:last-child {
          border-bottom: none;
        }

        > a {
          display: block;
          float: left;
          color: #333;
          position: relative;
          text-decoration: none;
          &:before {
            content: "";
            display: block;
            position: absolute;
            height: 2px;
            width: 10px;
            background-color: @ck-main;
            top: 0;
            bottom: 0;
            left: -20px;
            margin: auto;
          }

          &:hover,
          &:focus,
          &:active {
            color: @ck-main;
            text-decoration: none;
          }
        }
      }
    }

    &-lv-3 {
      display: block;
      overflow: hidden;
      margin: 0;
      padding: 0;
      padding-left: 15px;

      > li {
        display: block;
        float: left;
        list-style: none;
        margin-right: 25px;
        margin-bottom: 10px;

        > a {
          color: #88807D;
        }
      }
    }
  }
}
.ck-search {
  margin-top: 50px;

  .input-group-btn:last-child > .btn {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }

  &-select {
    display: block;
    padding: 9px 10px;
    border: none;
    outline: 0;

    &-wrap:first-child {
      padding: 0 !important;
      background-color: transparent;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }

  }
}
.index {
  &-top {
    background: #fff;
    .clearfix();
  }

  &-category {
    float: left;
    width: 20%;

    &-block {
      display: block;
      border-bottom: 1px solid @ck-main;
      padding-bottom: 10px;
      padding-left: 10px;
    }

    &-lv-1 {
      display: block;
      font-size: 16px;
      color: #333;
      padding: 5px 0;

      &:hover,
      &:focus{
        color: #d6c8c3;
      }
      &:active {
        color: #ffffff;
        text-decoration: none;
      }
    }

    &-lv-2 {
      display: inline-block;
      margin-right: 10px;
      color: #989898;
      &:hover{
        color: #fcc505;
        text-decoration: none;
      }
      // &:focus{
      // 	color: #fcc505;
      // 	text-decoration: none;
      // }
      // &:active {
      // 	color: #989898;
      // 	text-decoration: none;
      // }
    }
  }

  &-carousel {
    position: relative;
    min-height: 200px;
    overflow: hidden;
    float: left;
    width: 60%;
    &:hover {
      .glyphicon-chevron-left {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
      }

      .glyphicon-chevron-right {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
      }
    }

    &-item {
      > a {
        display: block;

        > img {
          width: 100%;
        }
      }
    }

    .glyphicon-chevron-left {
      line-height: 46px;
      background-color: rgba(0, 0, 0, 0.3);
      color: #fff;
      border: none;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      font-size: 30px;
      padding: 6px 0px;
      outline: 0;
      position: absolute;
      height: 60px;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto;

      &:hover,
      &:focus,
      &:active {
        background-color: rgba(0, 0, 0, 0.5);
      }

      -webkit-transition: transform 0.2s ease;
      transition: transform 0.2s ease;

      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }

    .glyphicon-chevron-right {
      line-height: 46px;
      background-color: rgba(0, 0, 0, 0.3);
      color: #fff;
      border: none;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      font-size: 30px;
      padding: 6px 0px;
      outline: 0;
      position: absolute;
      height: 60px;
      top: 0;
      bottom: 0;
      right: 0;
      margin: auto;

      &:hover,
      &:focus,
      &:active {
        background-color: rgba(0, 0, 0, 0.5);
      }

      -webkit-transition: transform 0.2s ease;
      transition: transform 0.2s ease;

      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }

    &-indicators {

    }
  }

  &-note {
    float: left;
    width: 20%;
    padding: 0 10px;

    &-title {
      padding-bottom: 10px;
      border-bottom: 1px solid @ck-main;
      [class^="icon-"], [class*=" icon-"] {
        color: @ck-main;
        margin-right: 5px;
      }
    }

    &-more {

      [class^="icon-"], [class*=" icon-"] {
        color: #6b6b6b;
        margin-right: 0;
        &:hover,
        &:focus,
        &:active {
          color: #fcc505;
          text-decoration: none;
        }
      }
      color: #6b6b6b;
      float: right;

      &:hover,
      &:focus,
      &:active {
        color: #fcc505;
        text-decoration: none;
      }
    }

    &-item {
      display: block;
      color: #777;
      .ellipsis();

      & + & {
        margin-top: 5px;
      }

      &:hover,
      &:focus,
      &:active {
        color: #333;
        text-decoration: none;
      }
    }
  }

  &-go-to-top {
    font-size: 36px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 999;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;

    &:hover,
    &:focus,
    &:active {
      color: #fff;
      text-decoration: none;
      background-color: rgba(0, 0, 0, 0.8);
    }
  }

  &-product {
    background-color: #fff;
    border: 3px solid #fff;
    float: left;
    padding: 10px;

    &:hover {
      border-color: #ececec;
    }

    &-link {
      display: block;
      > img {
        width: 100%;
      }
    }

    &-price {
      font-size: 18px;
      padding: 5px;
    }

    &-fav {
      float: right;
      font-size: 20px;
      color: #aaa;

      .icon-shoucang {
        vertical-align: text-top;
      }

      &:hover,
      &:focus,
      &:active {
        color: #333;
      }
    }

    &-store {
      color: #aaa;
      &:hover,
      &:focus,
      &:active {
        color: #333;
      }
    }

    &-market {
      float: right;
      color: #a89d99;
    }
  }

  &-store {
    float: left;
    width: 20%;

    &-info {
      text-align: center;
    }

    &-name {
      font-size: 18px;
    }

    &-link {
      color: #fff;
      background-color: #333;
      padding: 6px 25px;
      display: inline-block;
      margin-top: 5px;
      margin-bottom: 20px;
      border-radius: 25px;
      box-shadow: 0 15px 10px -12px rgba(0,0,0,0.5);

      &:hover,
      &:focus,
      &:active {
        color: #fff;
        background-color: #555;
        text-decoration: none;
      }
    }

    &-product{
      img{
        width: 100%;
      }
    }

  }

  &-block {
    margin-bottom: 15px;

    &-title {
      position: relative;
      padding: 10px;
      border-bottom: 1px solid #333;
      &-label {
        padding: 3px;
        background-color: @ck-main;
        color: #fff;
        display: inline-block;
        margin-right: 5px;
        font-size: 18px;
      }

      &-aside {
        position: absolute;
        top: 5px;
        right: 0px;
        margin-top: 5px;
        float: right;
        font-size: 18px;
        color: #333;

        &:hover,
        &:focus,
        &:active {
          color: @ck-main;
          text-decoration: none;
        }

        [class^="icon-"], [class*=" icon-"] {
          font-size: 24px;
          margin-left: 5px;
          vertical-align: text-top;
        }

        // sub-class
        &-lg {
          [class^="icon-"], [class*=" icon-"] {
            font-size: 34px;
          }
        }
      }
    }

    &-body {
      .clearfix();

      background-color: #fff;
      .left{
        .clearfix();
        display: block;
        width: 80%;
        float: left;
        .index-product {
          width: 25%;
        }
      }
      .right{
        .clearfix();
        display: block;
        width: 20%;
        float: right;
        .carousel{
          margin: -5px 0;
          ul,li{
            list-style: none;
            margin: 0px;
            padding: 0px;
          }
          li{
            margin: 20px 0;
            a{
              color: #000;

              &:hover{
                text-decoration: underline;
              }
            }
          }
          &-list{
            &-items{
              .product{
                position: relative;
                .img{
                  width: 80px;
                  img{
                    width: 100%;
                  }
                }
                .store{
                  position: absolute;
                  top: 14px;
                  left: 100px;
                }
                .extra{
                  position: absolute;
                  top: 50px;
                  left: 100px;
                  color: #aaa;
                }
              }
            }
          }
        }
      }
    }

    // sub-class
    &-store {
      .index-block-title-label {
        background-color: #ff3c02;
      }
    }

    &-girl {
      .index-block-title-label {
        background-color: #ff66f2;
      }
      .left{
        .clearfix();
        display: block;
        width: 100%;
        float: left;
        .index-product {
          width: 25%;
        }
      }
    }

    &-boy {
      .index-block-title-label {
        background-color: #282c2d;
      }
      .left{
        .clearfix();
        display: block;
        width: 100%;
        float: left;
        .index-product {
          width: 25%;
        }
      }
    }

    &-maternit {
      .index-block-title-label {
        background-color: #fe8278;
      }
      .left{
        .clearfix();
        display: block;
        width: 100%;
        float: left;
        .index-product {
          width: 25%;
        }
      }
    }

    &-children {
      .index-block-title-label {
        background-color: #fbc503;
      }
      .left{
        .clearfix();
        display: block;
        width: 100%;
        float: left;
        .index-product {
          width: 25%;
        }
      }
    }
  }
}
.footer {
  margin-top: 50px;

  &-map {
    background-color: @ck-main;
    position: relative;
    padding-top: 10px;
    padding-bottom: 50px;

    &:before {
      content: "";
      width: 0;
      height: 0;
      border-width: 20px;
      border-style: solid;
      border-top-color: #f7f7f7;
      border-bottom-color: transparent;
      border-left-color: transparent;
      border-right-color: transparent;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }

    &-item {
      &-title {
        [class^="icon-"], [class*=" icon-"] {
          margin-right: 5px;
          margin-top: -5px;
        }

        border-bottom: 1px solid #333;
        padding-top: 10px;
        padding-bottom: 10px;
        position: relative;

        &:before {
          content: "";
          height: 3px;
          background-color: #333;
          bottom: -2px;
          left: 0;
          width: 6em;
          position: absolute;
        }
      }
    }

    &-links {
      padding-left: 10px;
      margin: 0;

      > li {
        list-style-type: none;
        padding-left: 20px;
        position: relative;

        &:before {
          content: "";
          position: absolute;
          width: 10px;
          height: 3px;
          background-color: #333;
          top: 0;
          bottom: 0;
          margin-top: auto;
          margin-bottom: auto;
          left: 0;
        }

        > a {
          color: #333;
          display: inline-block;
          padding: 5px 10px;
          border-radius: 20px;

          &:hover,
          &:focus,
          &:active {
            background-color: #E7B500;
            text-decoration: none;
          }
        }
      }
    }
  }

  &-links {
    background-color: @ck-sub;
    text-align: center;
    padding-top: 20px;
    position: relative;
    &:before {
      content: "";
      width: 0;
      height: 0;
      border-width: 20px;
      border-style: solid;
      border-bottom-color: @ck-sub;
      border-top-color: transparent;
      border-left-color: transparent;
      border-right-color: transparent;
      position: absolute;
      top: -40px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &-link {
    color: @ck-main;
    position: relative;
    display: inline-block;

    & + & {
      margin-left: 30px;

      &:before {
        content: "";
        width: 1px;
        background-color: @ck-main;
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        left: -15px;
      }
    }

    &:hover,
    &:hover,
    &:active {
      text-decoration: none;
      color: lighten(@ck-main, 10%);
    }
  }

  &-copy {
    color: #6f615c;
    padding: 15px;
    margin: 0;
  }
}
