body{
  .em{
    display: inline-block;
    width: 1em;
  }
  .em_5{
    display: inline-block;
    width: .5em;
  }
  font-family: "Microsoft Yahei";
  background: #f7f7f7;
}
.self-head{
  background: #efedee;
  &-menu{
    padding: 5px 0;
    text-align: right;
    a{
      margin-left: 15px;
      color: #000;
    }
  }
}
.login-t{
  padding: 30px;
  background: #f7f7f7;
  &-tit{
    img{
      margin-right: 35px;
    }
    span{
      font-size: 28px;
      color: #000;
    }
  }
}
.login-m{
  background: #fff;
  .login{
    background: url('../../assets/images/login_bg.jpg');
    img{
      margin-top: 50px;
    }
    .login-form{
      width: 475px;
      float: right;
      margin-right: 30px;
      color: #a89d97;
      margin-top: 30px;
      background: #fff;
      padding: 0;
      .login-tit{    
        overflow: hidden;
        padding: 20px;
        border-bottom:1px solid #cacaca;
        >div{
          float: left;
        }
        .login-tit-l{
          margin-right: 100px;
          span{
            font-size: 16px;
            color: #372f2c;
          }
        }
        .login-tit-r{
          a{
            color: #372f2c;
            font-size: 16px;
          }
        }
      }
      form{
        width: 306px;
        margin: 0 auto;
        padding-bottom: 20px;
        >div{
          overflow: hidden;
          >span{
            float: left;
            padding: 15px;
            border:1px solid #dfdfdf;
            border-right: none;
          }
          >input{
            float: left;
            padding: 12px 5px;
            outline: none;
            letter-spacing:2px;
            border: 1px solid #dfdfdf;
            width: 260px;
          }
        }
        .form-zhanghao{
          margin-top: 30px;
        }
        .form-oth{
          overflow: hidden;
          &-member{
            float: left;
            overflow: hidden;
            input{
              float: left;
              height: 14px;
              margin-right: 5px;
            }
            label{
              float: left;
              font-weight: normal;
            }
          }        
          &-wjmima{
            float: right;
            a{
              color: #a89d97;
            }
          }
        }
        .form-err{
          text-align: center;
          color: #fc7546;
          height: 32px;
          line-height: 32px;
        }
        .form-login{
          margin-top: 20px;
          margin-bottom: 15px;
          button{
            background: #fcc505;
            width: 306px;
            height: 46px;
            border: none;
            border-radius: 23px;
            color: #362e19;
            &:focus{
              outline: none;
            }
          }
        }
      }
    }
  }
}
.login-b{
  padding: 30px;
  background: #f7f7f7;
  &-tit{
    text-align: center;
    color: #665c59;
  }
}
