body{
  .em{
    display: inline-block;
    width: 1em;
  }
  .em_5{
    display: inline-block;
    width: .5em;
  }
  font-family: "Microsoft Yahei";
  background: #f7f7f7;
}


.payment-m{
  color: #f00;
}

