body{
  .em{
    display: inline-block;
    width: 1em;
  }
  .em_5{
    display: inline-block;
    width: .5em;
  }
  font-family: "Microsoft Yahei";
  background: #f7f7f7;
}
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
  .modal-wrapper {
    margin: 50px auto;
    height: 100%;
  }
  .modal-container {
    width: 900px;
    height: 80%;
    max-height: 620px;
    margin: 0px auto;
    padding: 15px 35px;
    background-color: #fff;
    border-radius: 2px;
    font-size: 14px;
    color: #999;
    position: relative;
    .icon-cha{
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 36px;
      color: #ddd;
      cursor: pointer;
      &:hover{
        color: #999;
      }
    }
  }
  .modal-header{
    padding: 0;
    padding-bottom: 10px;
  }
  .modal-body {
    height: 80%;
    overflow: auto;
    margin-top: 20px;
    padding: 0 10px;
    border: 1px solid #ddd;
    h3,h4,p{
      font-size: 16px;
      line-height: 24px;
    }
    h3{
      color: #666;
      font-weight: bold;
    }
    p{
      text-indent: 2em;
    }
  }
  .modal-footer{
    border: none;
    text-align: center;
    padding-bottom: 0;
    button{
      color: #666;
      font-size: 20px;
      background: #fcc505;
      border: none;
      border-radius: 3px;
      padding: 10px 50px;
      &:focus{
        outline: none;
      }
    }
  }
}

.register-t{
  padding: 30px;
  background: #f7f7f7;
  &-tit{
    img{
      margin-right: 35px;
    }
    span{
      font-size: 28px;
      color: #000;
    }
  }
}

.register-m{
  background: #fff;
  .register{
    border: 1px solid #e0e0e0;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 30px;
    .register-head{
      padding: 25px;
      border-bottom: 1px solid #e0e0e0;
      overflow: hidden;
      >div:first-child{
        float: left;
        color: #372f2c;
        font-size: 16px;
      }
      >div:last-child{
        float: right;
        >span:first-child{
          color: #a89d99;
          font-size: 14px;
          margin-right: 5px;
        }
        a{
          color: #372f2c;
          font-size: 16px;
          &:hover{
            text-decoration: none;
          }
        }
      }
    }
    form{
      width: 410px;
      margin-left: 300px;
      >div{
        margin-top: 25px;
        overflow:hidden;
        label{
          float: left;
          margin-top:10px;
        }
        .input-box{
          float: left;
          overflow: hidden;
          span{
            float: left;
            border: 1px solid #a89d99;
            border-right: none;
            padding: 12px;
          }
          input{
            float: left;          
            width: 290px;
          }
        }
        label{
          color: #a89d99;
          margin-right: 25px;
        }
        input{
          letter-spacing:2px;
          outline: none;
          padding: 8px 5px;
        }
      }
    }
    .form-verify .input-box{
      input{
        width: 157px;
        margin-right: 25px;
      }
      button{
        border-radius: 3px;
        border: none;
        width: 145px;
        height: 40px;
      }
      .before{
        background: #251c19;
        color: #fff;      
      }
      .after{
        background: #dedede;
        color: #5f5f5f;
      }
    }
    .form-xieyi{
      input{
        float: left;
        padding: 0;
        height: 23px;
        margin-right: 5px;
        margin-left: 83px;
        margin-top: 9px;
      }
      label{
        float: left;
        color: #a89d99;
        a{
          color: #665955;
        }
      }
    }
    .form-err{
      margin-left: 80px;
      text-align: center;
      color: #fc7546;
      margin-top: 10px;
      margin-bottom: -15px;
    }
    .form-submit{
      button{
        background: #fcc505;
        margin-left: 83px;
        border: none;
        border-radius: 3px;
        width: 320px;
        height: 45px;
      }
      .disabled{
        background: #ddd;
      }
    }
  }
}


.register-b{
  padding: 30px;
  background: #f7f7f7;
  &-tit{
    text-align: center;
  }
}