@import "./C.less";
.search{
	ul,li,p,dl,dt,dd{
		padding: 0;
		margin: 0;
	}
	.em{
		display: inline-block;
		width: 1em;
	}
	.em_5{
		display: inline-block;
		width: 0.5em;
	}
	.icon-shoucang{
		cursor: pointer;
	}
	ul{
		list-style: none;
		margin-bottom: 0;
	}
	&-list{
		>ul{
			.clearfix();
			margin: 20px 0;
			>li{
				float: left;
				margin-right: 10px;
				>span{
					padding: 2px 10px;
					border: 1px dotted #fcc505;
					border-radius: 2px;
					cursor: pointer;
					>link{
						display: inline-block;
						margin-left: 10px;
						margin-bottom: 3px;
						font-weight: bold;
					}
					// &:hover{
					// 	border-color:#fcc505;
					// 	color: #fcc505;
					// 	&:after{
					// 		transform: rotate(225deg);
					// 	}
					// }
				}
				&:first-child{
					color: #a89d99;
				}
			}
		}
		>div{
			position: relative;
			ul{
				.clearfix();
				li{
					float: left;
				}
			}
			>ul{
				position: relative;
				&:last-child >li:first-child{
					border-bottom: 1px solid #e1e1e1;
				}
				&:first-child >li:last-child{
					border-top: 1px solid #e1e1e1;
				}
				>li{
					padding: 10px 15px;
				 	>ul{
				 		width: 92%;
				 		float: left;
				 	}
					&:first-child{
						position: absolute;
						top: 0;
						bottom: 0;
						width: 110px;
						background: #ececec;
						text-align: center;
						border-bottom: 1px solid #fff;
						z-index: 5;
					}
					&:last-child{
						width: 100%;
						max-height: 72px;
						position: relative;
						padding-left: 125px;
						padding-bottom: 0;
						border-bottom: 1px solid #e1e1e1;
						border-right: 1px solid #e1e1e1;
						background: #fff;
						overflow: hidden;
						color: #a89d99;
						&.moreCat{
							max-height: 500px;
						}
						>ul{
							>li{
								margin-right: 15px;
								margin-bottom: 10px;
								span{
									cursor: pointer;
								color: #a89d99;
									&:hover{
										color: #fcc505;
									}
								}
							}
						}
					 	>span{
					 		display: inline-block;
					 		position: relative;
					 		width: 8%;
					 		text-align: center;
					 		cursor: pointer;
							color: #372f2c;
					 		&:before{
					 			content: '';
					 			width: 1px;
					 			height: 14px;
					 			background: #a89d99;
					 			position: absolute;
					 			top: 3px;
					 			left: 0;
					 		}
					 		&:after{
								content: '';
						    display: inline-block;
						    width: 8px;
						    height: 8px;
						    border-right: 1px solid #372f2c;
						    border-bottom: 1px solid #372f2c;
						    transform: rotate(45deg);
						    transition: transform 0.25s linear;
						    transform-origin: 75% 75%;
						    position: absolute;
						    bottom: 8px;
						    right: 5px;
							}
							// &:hover{
							// 	background: #fcc505;
							// 	color: #fff;
							// }
							&.active{
								&:after{
									transform: rotate(225deg);
								}
							}
					 	}
					}
				}
			}
		}
	}
	&-nav{
		background: #ececec;
		margin-top: 15px;
		margin-bottom: 20px;
		>ul{
			float: left;
			border-right: 2px solid #fff;
			>li{
				float: left;
				height: 40px;
				line-height: 40px;
				padding: 0 27px;
				border-radius: 2px;
				text-align: center;
				cursor: pointer;
				&.active{
					padding: 0 15px;
					background: #fff;
					i{
						content: '';
						display: inline-block;
						height: 10px;
						width: 10px;
						margin-left: 10px;
						margin-bottom: 2px;
						border-right: 1px solid #fcc505;
						border-bottom: 1px solid #fcc505;
						transform-origin: 75% 75%;
						transform: rotate(45deg);
						opacity: 0;
						&.rising{
							transform: rotate(225deg);
						}
					}
					i{
						opacity: 1;
					}
				}
				&:hover{
					background: #fff;
					color: #fcc505;
				}
				&:first-child{
					margin-right: 2px;
				}
			}
		}
		>p{
			float: left;
			padding: 5px 30px;
			input{
				width: 100px;
				padding: 4px 10px 4px 25px;
				outline: none;
				border: none;
			}
			span{
				position: relative;
				left: 25px;
			}
			b{
				position: relative;
				right: -10px;
			}
			button{
				border: none;
				border-radius: 3px;
				width: 80px;
				height: 30px;
				margin-left: 30px;
				background: #f7f7f7;
				&:hover{
					background: #fff;
				}
			}
		}
		>span{
			float: right;
			padding: 11px 15px;
			background: #ececec;
			font-size: 18px;
			color: #87807d;
			cursor: pointer;
			&.selected{
				color: #fcc505;
				background: #fff;
			}
			&:hover{
				background: #fff;
			}
		}
	}
	&-product{
		&-left{
			float: left;
			width: 83%;
			&-succee{
				&-grid{
					>ul{
						.clearfix();
						>li{
							width: 23.95%;
							padding: 10px 8px;
							margin: 0 10px 30px 0;
							&:hover{
								>a>img{
									transform: scale(1.05);
								}
							}
						}
					}
				}
				&-list{
					margin-right: 10px;
					background: #fff;
					>ul{
						.clearfix();
						>li{
							height: 180px;
							padding: 15px;
							border-bottom: 1px solid #f7f7f7;
							>a{
								float: left;
								width: 150px;
								height: 150px;
								text-align: center;
								>img{
									max-width: 100%;
									max-height: 100%;
									border: 1px solid #f7f7f7;
									vertical-align: middle;
									transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
									&:hover{
										transform: scale(1.05);
									}
								}
							}
							>ul{
								width: 280px;
								height: 100%;
								float: left;
								position: relative;
								>li{
									&:last-child{
										position: absolute;
										bottom: 10px;
										left: 0;
										color: #87807d;
										a{
											margin-right: 30px;
										}
									}
								}
								&:nth-child(2){
									margin-right: 50px;
									margin-left: 20px;
									>li{
										&:first-child{
											font-size: 17px;
											a{
												color: #87807d;
												span{
													margin: 0 5px;
													color: #e03131;
												}
											}
										}
										&:last-child{
											color: #a89d99;
										}
									}
								}
								&:last-child{
									>li{
										&:first-child{
											color: #c4bebc;
											b{
												display: block;
												margin-bottom: 5px;
												font-size: 18px;
												font-weight: normal;
												color: red;
											}
										}
									}
								}
							}
							&:last-child{
								border: none;
							}
						}
					}
				}
			}
			&-error{
				height: 350px;
				>div{
					height: 100%;
					display: flex;
				  align-items: center;
				  justify-content: center;
				  >ul{
				  	margin-top: 60px;
				  	margin-left: 20px;
				  	li{
				  		margin-top: 20px;
					  	>p{
					  		font-size: 16px;
					  	}
					  	>a{
					  		padding: 6px 25px;
					  		border-radius: 3px;
					  		background: #fcc505;
					  		color: #fff;
					  	}
				  	}
				  }
				}
			}
			&-loading{
				height: 350px;
				display: flex;
			  align-items: center;
			  justify-content: center;
			}
		}
		&-right{
			float: right;
			width: 17%;
			>p{
				padding-bottom: 10px;
				border-bottom: 1px solid #ececec;
				margin-bottom: 10px;
				font-size: 18px;
				span{
					margin-right: 5px;
					padding: 1px 10px;
					background: red;
					color: #fff;
					font-size: 16px;
				}
				b{
					font-size: 20px;
					font-weight: normal;
				}
			}
			>ul{
				>li{
					padding: 8px;
					margin-bottom: 15px;
					background: #fff;
			    position: relative;
					>span:first-child{
						position: absolute;
						top: 0;
						left: 0;
						padding: 1px 10px;
						background: red;
						color: #fff;
						z-index: 100;
					}
					>a:nth-child(2){
						display: table-cell;
						vertical-align: middle;
				    width: 180px;
				    height: 180px;
		        margin-bottom: 10px;
				    text-align: center;
						img{
							max-width: 180px;
							max-height: 180px;
							&:hover{
								opacity: 0.8;
							}
						}
					}
					span{
						color: red;
					}
					>p{
						margin: 10px 0;
						a{
							// text-overflow:ellipsis;
							// display:-webkit-box; 
							// -webkit-box-orient:vertical;
							// -webkit-line-clamp:2;
							display: block;
							height: 40px;
							overflow:hidden;
							color: #665c59;
							&:hover{
								color: #372f2c;
								text-decoration: none;
							}
						}
					}
				}
			}
		}
	}
	&-cookabuy{
		margin: 35px -15px;
		hr{
			width: 45%;
			border-bottom: 1px solid #ececec;
			&:first-child,
			&:last-child{
				float: left;
			}
		}
		p{
			float: left;
			width: 10%;
			height: 38px;
			line-height: 38px;
			text-align: center;
			color: #c4bebc;
		}
	}
	&-aginsearch{
		width: 600px;
		margin: 0 auto;
		p{
			color: #c4bebc;
		}
		.ck-search{
			margin-top: 10px;
		}
	}
	&-recommended{
		width: 100%;
		position: relative;
		.slide{
			overflow: hidden;
			&-box{
				.clearfix();
			}
		}
		p{
			padding-bottom: 10px;
			border-bottom: 1px solid #1a1a1a;
			font-size: 15px;
			margin: 50px 0 30px;
			span{
				padding: 0 5px;
				margin-right: 5px;
				background: red;
				color: #fff;
			}
			b{
				font-size: 16px;
				font-weight: normal;
			}
		}
		div.search-product-left-gridRecommended{
			float: left;
			width: 224px;
			height: 350px;
			padding: 2px;
			margin-right: 5px;
			>ul{
				padding: 0 10px;
				>li{
					&:last-child{
						display: block;
					}
				}
			}
			&:hover{
				>a>img{
					transform: scale(1.02);
				}
			}
		}
		>ul{
			.clearfix();
			>li{
				width: 19.6594%;
				height: 350px;
				margin-right: 5px;
				padding: 2px;
				&:nth-child(5n){
					margin-right: 0;
				}
				>ul{
					padding: 0 10px;
					>li{
						&:last-child{
							display: block;
						}
					}
				}
				&:hover{
					>a>img{
						transform: scale(1.02);
					}
				}
			}
		}
	}
	.search-product-left-gridRecommended{
		float: left;
		height: 345px;
		background: #fff;
		position: relative;
		border: 2px solid transparent;
		>a{
			display: table-cell;
			vertical-align: middle;
			width: 213px;
			height: 200px;
			text-align: center;
			>img{
				max-width: 213px;
				max-height: 200px;
				transition: transform 0.6s  cubic-bezier(0.25, 0.46, 0.45, 0.94);
			}
		}
		ul{
			margin: 15px 0 10px;
			li{
				margin-bottom: 10px;
				&:first-child{
					span{
						color: red;
						font-size: 18px;
					}
					p{
						float: right;
						color: #c4bebc;
						span.icon-liulan{
							font-size: 16px;
							position: relative;
							right: 2px;
						}
					}
				}
				&:nth-child(2) a{
					// text-overflow:ellipsis;
					// -webkit-box-orient:vertical;
					// -webkit-line-clamp:2;
					// display:-webkit-box;
					display: block;
					height: 40px;
					overflow:hidden;
					color: #665c59;
					span{
						padding: 0 2px;
						color: #e03131;
					}
					&:hover{
						color: #372f2c;
						text-decoration: none;
					}
				}
				&:nth-child(3){
					.clearfix();
					color: #a89d99;
					a, span{
						width: 45%;
						overflow: hidden;
						white-space: nowrap;
				    text-overflow: ellipsis;
					}
					a{
						float: left;
					}
					span{
						float: right;
						text-align: right;
					}
					width: 90%;
					position: absolute;
					bottom: 0;
				}
			}
		}
		&:hover{
			border: 2px solid #ececec;
		}
	}
	.swiper-button-prev,
	.swiper-button-next{
		top: 53%;
	}
}
