@import "./C.less";
.container{
	ul,li,p,dl,dt,dd{
		padding: 0;
		margin: 0;
	}
	ul,li{list-style: none;}
}
.em{
	display: inline-block;
	width: 1em;
}
.em_5{
	display: inline-block;
	width: 0.5em;
}
.sellerAllProduct{
	&-header{
		&-nav{
			background: #efedee;
			ul{
				padding: 5px 0;
				.clearfix();
				li{
					margin-right: 30px;
					float: left;
					>a{
						color: #372f2c;
					}
					&:nth-child(3),
					&:nth-child(4){
						float: right;
					}
					&:nth-child(3){
						margin: 0;
					}
				}
			}
		}
		&-info{
			margin: 20px 0;
			.container{
				>link{
					float: left;
					padding: 10px;
					border: 1px solid #ebebeb;
					background: #fff;
					color: #ebebeb;
					font-size: 90px;
				}
				>ul{
					float: left;
					margin-left: 25px;
					>li{
						margin: 10px 0;
						b{
							font-weight: normal;
							font-size: 22px;
							margin-right: 10px;
						}
						button{
							padding: 3px 10px;
							border: none;
							border-radius: 5px;
							background: red;
							color: #fff;
						}
						link{
							margin-right: 5px;
							font-size: 22px;
						}
						&:nth-child(2){
							link{
								color: #fcc505;
								&:last-child{
									margin-left: 15px;
									font-size: 20px;
								}
							}
						}
						&:first-child{
							>span{
								padding: 4px 15px;
								border-radius: 5px;
								background: #fcc505;
								color: #fff;
							}
						}
					}
				}
				>p{
					float: right;
					margin-top: 35px;
					select,input,button{
						float: left;
						height: 40px;
					}
					select{
						padding: 0 10px;
						border: 1px solid #d7d7d7;
						font-size: 18px;
						text-align: center;
					}
					input{
						width: 280px;
						padding: 0 10px;
						border: 1px solid #d7d7d7;
						border-left: none;
						outline: none;
					}
					button{
						padding: 0 20px;
						border: none;
						background: #fcc505;
						font-size: 16px;
						&:hover{
							background: #ffd131;
						}
					}
				}
			}
		}
	}
	.icon-shoucang{
		cursor: pointer;
	}
	&-list{
		>ul{
			.clearfix();
			li{
				float: left;
				padding: 10px 25px;
				margin-right: 5px;
				background: #ececec;
				font-size: 18px;
				&.active{
					width: 100%;
					background: #fff;
					padding-left: 15px;
					//border-top: 2px solid #fcc505;
				}
			}
		}
		>div{
			padding: 0 20px;
			background: #fff;
			p{
				.clearfix();
				padding: 10px 0;
				border-bottom: 1px solid #fcc505;
				color: #a89d99;
				span{
					&:last-child{
						float: right;
					}
				}
			}
			>div{
				padding: 10px 0;
				max-height: 60px;
    		overflow: hidden;
				>span{
					float: left;
					width: 11%;
					&.HeiBig{
						cursor: pointer;
						position: relative;
						transition: all 0.35s linear;
						&:after{
							content: '';
							display: inline-block;
							height: 8px;
							width: 8px;
							border-right: 1px solid #372f2c;
							border-bottom: 1px solid #372f2c;
							position: absolute;
							transform: rotate(45deg);
							transform-origin: 75% 75%;
							top: 4px;
							right: 12px;
							transition: all 0.35s linear;
						}
						&:hover{
							background: #fcc505;
							&:after{
								transform: rotate(225deg);
							}
						}
					}
					&:last-child{
						width: 8%;
						float: right;
						border-left: 1px solid #372f2c;
						text-align: center;
					}
				}
				ul{
					float: left;
					width: 80%;
					li{
						float: left;
						margin: 0 20px 5px 0;
					}
				}
			}
		}
	}
	&-nav{
		background: #ececec;
		margin-bottom: 10px;
		>ul{
			padding: 5px;
			float: left;
			border-right: 2px solid #fff;
			>li{
				float: left;
				width: 100px;
				height: 30px;
				line-height: 30px;
				text-align: center;
				border-radius: 2px;
				cursor: pointer;
				i{
					content: '';
					display: inline-block;
					height: 10px;
					width: 10px;
					margin-left: 10px;
					margin-bottom: 2px;
					border-right: 1px solid #fcc505;
					border-bottom: 1px solid #fcc505;
					transform: rotate(45deg);
					transform-origin: 75% 75%;
					opacity: 0;
				}
				&.active{
					background: #fff;
					color: #fcc505;
					i{
						opacity: 1;
						&.sorting{
							transform: rotate(225deg);
						}
					}
				}
				&:hover{
					background: #fff;
				}
			}
		}
		>p{
			float: left;
			padding: 5px 30px;
			line-height: 28px;
			input{
				width: 100px;
				padding-left: 25px;
				padding-right: 10px;
				outline: none;
				border: none;
			}
			span{
				position: relative;
				left: 25px;
			}
			b{
				position: relative;
				left: 10px;
			}
			button{
				width: 80px;
				height: 30px;
				margin-left: 30px;
				border: none;
				border-radius: 3px;
				outline: none;
				background: #f7f7f7;
				color: #5f5f5f;
				&:hover{
					background: #fff;
				}
			}
		}
	}
	&-product{
		&-left{
			float: left;
			width: 83%;
			>ul{
				>li{
					float: left;
					width: 23.944%;
					height: 350px;
					padding: 10px 15px;
					margin: 0 10px 10px 0;
					background: #fff;
					position: relative;
					img{
						width: 100%;
						height: 202px;
					}
					>ul{
						margin: 15px 0 10px;
						li{
							margin-bottom: 10px;
							&:first-child{
								b{
									color: red;
									font-size: 16px;
								}
								span.icon-shoucang{
									float: right;
									font-size: 18px;
								}
							}
							&:last-child{
								width: 87%;
								position: absolute;
								bottom: 0;
								color: #a89d99;
								button{
									float: right;
									border: 1px solid #d7d7d7;
									background: #fff;
									&:hover{
										color: #1a1a1a;
									}
								}
							}
						}
					}
				}
			}
		}
		&-right{
			float: right;
			width: 17%;
			p{
				padding: 15px 0;
				margin-bottom: 5px;
				background: #fff;
				font-size: 18px;
				span{
					padding: 0 5px;
					background: red;
					color: #fff;
					margin-right: 5px;
				}
			}
			ul{
				li{
					padding: 10px;
					margin-bottom: 15px;
					background: #fff;
					img{
						width: 100%;
						margin-bottom: 10px;
					}
					b{
						display: inline-block;
						margin: 6px 0;
					}
				}
			}
		}
	}
}
