@import "./C.less";
.marketInfo{
	.modal-mask {
	  position: fixed;
	  z-index: 9998;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  background-color: rgba(0, 0, 0, .5);
	  display: table;
	  transition: all 0.3s linear;
	}

	.modal-wrapper {
	  display: table-cell;
	  vertical-align: middle;
	}

	.modal-container {
	  width: 400px;
	  margin: 0px auto;
	  padding: 10px 20px;
	  background-color: #fff;
	  border-radius: 2px;
	  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
	  transition: all 0.3s linear;
	}

	.modal-header {
	  padding: 10px;
	  font-size: 18px;
	  color: #fcc505;
	  position: relative;
	  span{
	  	float: right;
	  	border-radius: 50%;
	  	font-size: 30px;
	  	color: #989898;
	  	cursor: pointer;
	  	&:hover{
	  		color: #1a1a1a;
	  	}
	  }
	}

	.modal-body {
	  margin: 10px 0;
	  text-align: center;
	  button{
			width: 150px;
			height: 50px;
			border: 1px solid #ececec;
			border-radius: 3px;
			background: #fcc505;
			margin: 20px;
			span{
				font-size: 18px;
				margin-right: 5px;
				margin-bottom: 3px;
			}
	  }
	}
	.modal-footer{
		padding: 0;
		border: none;
	}

	.modal-default-button {
	  float: right;
	}

	/*
	 * The following styles are auto-applied to elements with
	 * transition="modal" when their visibility is toggled
	 * by Vue.js.
	 *
	 * You can easily play with the modal transition by editing
	 * these styles.
	 */

	.modal-enter {
	  opacity: 1;
	}
	.modal-leave-active {
	  opacity: 1;
	}
	.modal-container,
	.modal-container {
	  -webkit-transform: scale(1.1);
	  transform: scale(1.1);
	}

	.em{
    display:inline-block;
    width:1em;
  }
	h2,h3,ul,li,p{
		padding: 0;
		margin: 0;
	}
	ul,li{
		list-style: none;
	}
	&-container{
		height: 788px;
		background: #fff;
		&-title{
			padding: 15px 0;
			margin-left: 20px;
			border-bottom: 1px solid #ececec;
			span{
				color: #989898;
			}
		}
		&-data{
			padding: 30px 50px 0;
			&-left{
				>ul{
					>li{
						margin: 20px 0;
						>span{
							display: inline-block;
							width: 75px;
							margin-right: 5px;
							text-align: right;
						}
						>input[type=text],>select{
							width: 200px;
							height: 35px;
							padding: 0 10px;
							border: 1px solid #d7d7d7;
							outline: none;
						}
						>label{
							margin-right: 20px;
							position: relative;
							bottom: 2px;
							font-weight: normal;
						}
						button{
							padding: 10px 30px;
							border: none;
							border-radius: 3px;
							background: #fcc505;
							color: #fff;
						}
					}
				}
			}
			&-right{
				.clearfix();
				padding: 25px;
				margin-top: 20px;
				border: 1px solid #d7d7d7;
				>div{
					float: left;
					width: 110px;
					padding: 2px;
					box-shadow: 0 0 10px 1px #ccc;
					img{
						width: 105px;
						height: 105px;
						line-height: 105px;
						font-size: 20px;
						text-align: center;
					}
					p{
						padding: 5px 0;
						color: #989898;
						font-size: 16px;
						font-weight: bold;
						text-align: center;
						cursor: pointer;
					}
				}
				>ul{
					float: left;
					margin-left: 20px;
					li{
						margin: 15px 0;
					}
				}
			}
		}
	}
}